bin/
*.o
*.lo
*.la
*.swp
*.m4
.deps/
m4/
autom4te.cache/
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
config.guess
config.sub
ltmain.sh
.libs
configure
compile
depcomp
install-sh
missing
libtool
stamp-h1
vm/test-driver
vm/src/gi
vm/tests/check_gi
vm/tests/check_gi.log
vm/tests/check_gi.trs
vm/tests/test-suite.log
*.dSYM
